#bg{
    padding-top: 70px;
    background-color: black;
    color: white;
    height: 80%;
}
/* .row img{
    padding-inline: 10px;
} */
.i{
    font-size:280%;
}
/* .i2{
    font-size:200%;
}
.i3{
    font-size:200%;
} */